.service-block .image img {
    height: stretch;
}

.pricing-table .image-box .image img {
    padding-right: 12px;
}

.testimonial-block .testimonial_img .thumb-box {
    text-align: center;
}

.testimonial-block .testimonial_img .thumb-box img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.main-header .logo {
    width: 11%;
    left: 48%;
    top: -40px;
}

.sticky-header .logo {
    top: 7px;
    left: 50.4%;
    width: 6%;
}